body{
    background: rgb(34, 34, 34);
    margin: 10px 0;
    background: url("../res/brick3.jpg") no-repeat center fixed;
    background-size: cover;
}

#canvas {
    margin: auto auto;
    display: block;
    /*background: url("../res/stars1.png");*/
    background-color: rgba(0, 0, 0, 0.699);
    background-repeat: no-repeat;
    background-size: 1024px 600px;
     box-shadow: 
         0px 6px 8px -5px rgb(0, 0, 0),
         0px -6px 8px -5px rgb(0, 0, 0),
         0px 0px 3px 1px rgb(0, 0, 0),
         inset 1px 10px 30px 20px rgb(0, 0, 0);
}

.canvas_container{
    background: rgba(0, 0, 0, 0.514);
    width: 70vw;
    align-items: center;
    margin: auto auto;
    border-radius: 30px;
    min-width: 1100px;
    box-shadow: 
    0px 5px 20px 5px rgba(0, 0, 0, 0);
}

.score{
    font-size: 36px;
}

.navbar-button {
    color:rgb(0, 201, 0);

    border-radius: 34px;
    background: #36486b40;
    font-size: 26px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.77);
    color:rgb(0, 201, 0);
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    min-width:1100px;
    display: table;
    height: 50px;
    box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.67);
    
}

.footer {
    padding-top: 10px;
    text-align: center;
    width:100vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-about-content {
    background-color: rgba(0,0,0,1);
    margin: 13% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    font-size: 16px;
    color: white;
}

.modal-options-content {
    background-color: rgba(0,0,0,1);
    margin: 12% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    font-size: 16px;
    color: white;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1 {
    font-size: 26px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#overlay {
    display: block;
    width: 100px;
    height: 70px;
    cursor: pointer;
    background: url("../res/refresh.png");
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-position-y: -5px;
    background-size: contain;
    color:#BBB2B2;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    border-radius: 200px;

    box-shadow: 
    0px 6px 8px -5px rgba(204, 204, 204, 1),
    0px -6px 8px -5px rgba(204, 204, 204, 1),
    0px 0px 3px 1px #000,
    inset 1px 5px 200px 5px #000;
}

#_overlay {
    z-index: 2;
    position: absolute;
    margin-left: calc(50vw - 50px);
    margin-top: 250px;
}

#htmlTrail {
    font-size: 26px;
}

#sparks {
    font-size: 26px;
}

#ballSpeed {
    font-size: 26px;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

#modalLeaderboard {
    color:white;

}

#leaderboardTable{
    margin: 60px auto;
    text-align: left;
    padding: 50px;
    
    border-spacing: 0px;
}

/* Table Header! */
#leaderboardTable tr:first-of-type{
    background: #333333 !important;
}

/* Table header Entry*/
#leaderboardTable th{
    font-size: 30px;
    padding: 15px 30px;
}

#leaderboardTable td{
    padding: 10px 30px;
    font-size: 20px;
    color: #808080;
}

#leaderboardTable tr:nth-child(even) {background-color: #eaf8e6;}
#leaderboardTable tr:nth-child(odd) {background-color: white;}


#loginButton {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background: url("../res/cont_nelogat.jpg");
    background-size: cover;
}

#loginButton:hover {
    cursor: pointer;
}

#loginButton:focus {
    display: none;
}

.header div span{
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }